* {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.column {
    float: left;
    width: 50%
}

#login-container {
    background-color: #55AD9B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#home-container {
    background-color: #95D2B3;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#login-modal {
    background-color: #D8EFD3;
    width: 60%;
    height: 80%;
    min-width: 600px;
    min-height: 300px;
    border-radius: 35px;
    overflow: hidden;
}

.login-modal-background {
    overflow: hidden;
    height: 100%;
}

.login-modal-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.home-grid-container {
    display: grid;
    gap: 50px 100px;
    width: 90%;
    grid-template-columns: auto auto auto;
    padding: 10px;
}



.fab img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.board-card {
    background-color: #D8EFD3;
    height: 150px;
    border-radius: 15px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.board-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.board-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.board-card p {
    margin: 0;
}

.board-card-title {
    font-size: 25px;
    font-weight: 600;

}

.board-card-role-name {
    text-transform: uppercase;
    font-style: italic;
}

.icon-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}


/* ----- INPUT DESIGN ----- */
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #3556a7;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: #3556a7;
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #3556a7;
    font-weight: 700;
}


/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    border-radius: 15px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* ----- SELECT DESIGN ----- */
.form__select{
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #3556a7;
    background: transparent;
    transition: border-color 0.2s;
    padding-top: 15px;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 0;

}
.form__select:focus{
    border: 0;
    border-bottom: solid #3556a7 3px;
}




/* ----- BUTTON DESIGN ----- */
.boton-elegante {
    padding: 8px 40px;
    border: 2px solid #3556a7;
    background-color: #3556a7;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.boton-elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.25) 0%,
            rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
    transform: scale(4);
}

.boton-elegante:hover {
    border-color: #31ccb0;
    background: #31ccb0;
}

/* ----- FAB BUTTON ----- */
.fab {
    border: 2px solid #3556a7;
    cursor: pointer;
    transition: all 0.4s ease;
    outline: none;
    overflow: hidden;
    font-weight: bold;

    position: fixed;
    width: 180px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #3556a7;
    color: #FFF;
    font-size: 22px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fab::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.25) 0%,
            rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.fab:hover::after {
    transform: scale(4);
}

.fab:hover {
    border-color: #4574e0;
    background: #4574e0;
}














